form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 30vh;
    width: 25vw;
}
form > input {
    background: none;
    outline: none;
    border: none;
    
    width: 20vw;
    height: 3vh;
    font-size: 1.5vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    
    border-bottom: solid black 1px;
}
form > input:not(:valid),  
input:focus{
    border-bottom-color: rgb(255, 99, 88);
}
form > input:valid,
input:focus{
    border-bottom-color: rgb(125, 255, 93);
}
form > input:not(:focus){
    border-bottom-color: black;
}
form > input[type="submit"] {
    cursor: pointer;
    
    width: 7vw;
    height: 3.5vh;
    padding: .5vh;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

    transform: translateX(128px);
    -webkit-transform: translateX(128px);
    -moz-transform: translateX(128px);
    -ms-transform: translateX(128px);
    -o-transform: translateX(128px);
    border: solid black 1px;
}
form > input[type="submit"]:hover{
    background: black;
    color: white;
}
